*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
/*Halaman depan*/

body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(228, 239, 249, 0.171), rgba(244, 245, 249, 0.559)), url(casabaio.jpg);
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #40A2E3;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.logo{
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    color: #FFF6E9;
    text-decoration: none;
    font-weight: 500;
}
.navbar a{
    font-size: 1.15rem;
    font-family: "Afacad", sans-serif;
    color: #FFF6E9;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #FFF6E9;
    cursor: pointer;
    display: none;
}

/*breakpoints*/
@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }

}
@media (max-width: 768px){
    .icons{
        display: inline-flex;

    }
    #check:checked ~ .icons #menu-icon {
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked ~ .icons #close-icon{
        display: block;
    }
    
    
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #40A2E3;
        backdrop-filter: blur(10px);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked ~ .navbar {
        height: 17.7rem;
        
    
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
       
    }
    #check:checked ~ .navbar a{
        transform: translateY(0);
        opacity: 1;
    }

}

/*teks beranda*/
.text-box{
    font-size: 25px; 
    width: 90%;
    color: #134a3e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    font-family: "Afacad", sans-serif;
    
}
.text-box h4{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    
}

/*teks beranda*/
.text-box h1{
    font-size: 50px;


}


